# Historical Data

Historical data can be obtained by ``iexfinance`` using the ``get_historical_data`` function of the ``stocks`` module. This function provides daily open, high, low, and close (OHLC) prices as well as volume data.

## Stocks

### Basic Example

The default action of ``get_historical_data`` provides pricing data from January 1, 2015 to the present day:

In [1]:
from iexfinance.stocks import get_historical_data

In [2]:
get_historical_data("AAPL", output_format='pandas').head()

                open      high       low     close    volume
date
2015-01-02  103.4410  103.4874   99.6893  101.5280  53204626
2015-01-05  100.5622  100.8965   97.8877   98.6678  64285491
2015-01-06   98.9371   99.7636   97.1634   98.6771  65797116
2015-01-07   99.5500  100.4786   99.0810  100.0607  40105934
2015-01-08  101.4351  104.1468  100.9429  103.9053  59364547

To obtain daily prices for Apple Inc. (AAPL) for year-to-date (YTD) 2018, we could do the following, using ``datetime.datetime`` objects to specify a date range for retrieval:

In [3]:
import datetime

start = datetime.datetime(2018, 1, 1)
end = datetime.datetime.today()

get_historical_data("AAPL", start, end, output_format='pandas').head()

                open      high       low     close    volume
date
2018-01-02  166.9271  169.0264  166.0442  168.9872  25555934
2018-01-03  169.2521  171.2337  168.6929  168.9578  29517899
2018-01-04  169.2619  170.1742  168.8106  169.7426  22434597
2018-01-05  170.1448  172.0381  169.7622  171.6751  23660018
2018-01-08  171.0375  172.2736  170.6255  171.0375  20567766

### Multiple Symbols

The process for obtaining data for multiple symbols is largely the same. Simply pass a list-like object (list, Pandas Series, DataFrame, etc.) to ``get_historical_data``.

In [4]:
get_historical_data(["AAPL", "TSLA", "MSFT"], output_format='pandas')

                AAPL                                             TSLA  \
                open      high       low     close     volume    open
date
2015-01-02  103.4410  103.4874   99.6893  101.5280   53204626  222.87
2015-01-05  100.5622  100.8965   97.8877   98.6678   64285491  214.55
2015-01-06   98.9371   99.7636   97.1634   98.6771   65797116  210.06
2015-01-07   99.5500  100.4786   99.0810  100.0607   40105934  213.35
2015-01-08  101.4351  104.1468  100.9429  103.9053   59364547  212.81
2015-01-09  104.6296  105.1683  102.3452  104.0167   53699527  208.92
2015-01-12  104.5646  104.5925  101.0358  101.4537   49650790  203.05
2015-01-13  103.4781  104.7504  101.1380  102.3545   67091928  203.32
2015-01-14  101.2587  102.6052  100.7572  101.9645   48956588  185.83
2015-01-15  102.1502  102.2059   99.0485   99.1971   60013996  194.49
2015-01-16   99.3921   99.9029   97.6927   98.4263   78513345  190.70
2015-01-20  100.1443  101.1906   98.8999  100.9615   49899907  193.87
2015-01-21  101.1751  103.1345  100.5436  101.7323   48575897  189.55
2015-01-22  102.3916  104.4439  101.8902  104.3789   53796409  197.00
2015-01-23  104.2860  105.6326  103.5710  104.9175   46464828  200.29
2015-01-26  105.6233  106.2015  104.7504  105.0290   55614979  201.83
2015-01-27  104.3975  104.4532  101.2494  101.3516   95568749  204.42
2015-01-28  109.2310  109.6907  107.0812  107.0812  146477063  206.11
2015-01-29  108.0192  110.6844  107.3134  110.4151   84436432  201.07
2015-01-30  109.9507  111.4366  108.5114  108.7992   83745461  203.96
2015-02-02  109.6257  110.6658  107.7963  110.1643   62739100  203.97
2015-02-03  110.0436  110.5915  109.2171  110.1829   51915749  213.22
2015-02-04  110.0436  111.9102  109.8662  111.0280   70149743  218.29
2015-02-05  111.8950  112.0908  111.1771  111.8204   42246245  219.88
2015-02-06  111.8950  112.1094  110.4313  110.8788   43706567  222.00
2015-02-09  110.5245  111.7272  110.4126  111.6153   38889797  215.38
2015-02-10  112.0348  113.8808  112.0255  113.7596   62008506  217.55
2015-02-11  114.4588  116.4633  114.2071  116.4260   73561797  212.21
2015-02-12  117.5261  118.8500  117.0693  117.8990   74474466  193.57
2015-02-13  118.6635  118.6635  117.1439  118.4770   54272219  202.90
...              ...       ...       ...       ...        ...     ...
2019-01-09  150.6438  153.8700  148.9909  152.6552   45099081  335.50
2019-01-10  151.8487  153.3124  150.2157  153.1431   35780670  334.40
2019-01-11  152.2270  153.0435  150.8629  151.6396   27023241  342.09
2019-01-14  150.2057  150.6239  148.5827  149.3594   32439186  342.38
2019-01-15  149.6282  152.7349  149.4091  152.4162   28710324  335.00
2019-01-16  152.4262  155.2142  152.3465  154.2783   30569706  344.78
2019-01-17  153.5414  156.9866  152.6054  155.1943   29821160  346.21
2019-01-18  156.8273  157.2057  155.3144  156.1502   33751023  323.00
2019-01-22  155.7420  156.0606  151.9682  152.6453   30393970  304.82
2019-01-23  153.4916  154.4774  151.0521  153.2626   23130570  292.50
2019-01-24  153.4518  153.8202  151.0919  152.0478   25441549  283.03
2019-01-25  154.8159  157.4546  153.6609  157.0862   33547893  294.39
2019-01-28  155.1246  155.6623  153.0037  155.6324   26192058  292.91
2019-01-29  155.5827  157.4546  153.4518  154.0194   41587239  295.27
2019-01-30  162.5528  165.4404  159.5457  164.5442   61109780  300.45
2019-01-31  165.4005  168.2782  163.8572  165.7291   40739649  301.00
2019-02-01  166.2469  168.2583  165.2213  165.8088   32668138  305.42
2019-02-04  166.6950  170.9219  166.5655  170.5186   31495582  312.98
2019-02-05  172.1217  174.3322  171.6140  173.4361   36101628  312.49
2019-02-06  173.9041  174.8201  172.1148  173.4958   28239591  319.59
2019-02-07  171.6637  173.1971  169.6125  170.2099   31741690  313.30
2019-02-08  168.9900  170.6600  168.4200  170.4100   23819966  306.83
2019-02-11  171.0500  171.2100  169.2500  169.4300   20993425  311.60
2019-02-12  170.1000  171.0000  169.7000  170.8900   22283523  316.20
2019-02-13  171.3900  172.4800  169.9200  170.1800   22490233  312.35
2019-02-14  169.7100  171.2615  169.3800  170.8000   21835747  303.38
2019-02-15  171.2500  171.7000  169.7500  170.4200   24626814  304.50
2019-02-19  169.7100  171.4400  169.4900  170.9300   18972826  306.56
2019-02-20  171.1900  173.3200  170.9900  172.0300   26114362  304.41
2019-02-21  171.8000  172.3700  170.3000  171.0600   17249670  301.81

                                                       MSFT            \
                high       low    close    volume      open      high
date
2015-01-02  223.2500  213.2600  219.310   4764443   42.3280   43.0174
2015-01-05  216.5000  207.1626  210.090   5368477   42.0649   42.3915
2015-01-06  214.2000  204.2100  211.280   6261936   42.0740   42.4087
2015-01-07  214.7800  209.7800  210.950   2968390   41.7111   42.1466
2015-01-08  213.7999  210.0100  210.615   3442509   42.4096   43.3167
2015-01-09  209.9800  204.9600  206.660   4668295   43.1898   43.3803
2015-01-12  204.4700  199.2500  202.210   5950280   43.0174   43.1263
2015-01-13  207.6100  200.9110  204.250   4477320   42.6092   43.4619
2015-01-14  195.2000  185.0000  192.690  11551855   41.6930   41.9470
2015-01-15  195.7499  190.0000  191.870   5216524   41.9288   42.0740
2015-01-16  194.4900  189.6500  193.070   3603158   41.1033   41.9833
2015-01-20  194.1199  187.0400  191.930   4503182   42.0014   42.3189
2015-01-21  198.6800  189.5100  196.570   4153043   41.6748   41.8563
2015-01-22  203.2400  195.2000  201.620   4116905   42.0740   42.7589
2015-01-23  203.5000  198.3300  201.290   3442371   42.9630   42.9902
2015-01-26  208.6200  201.0500  206.550   3234522   42.6364   42.7579
2015-01-27  208.0300  203.3000  205.980   2781024   38.9624   39.1892
2015-01-28  206.3680  198.4200  199.370   3149606   38.7719   38.8173
2015-01-29  205.9800  196.5000  205.200   3548106   37.1300   38.2095
2015-01-30  207.4700  203.0000  203.600   3006959   37.6924   37.7196
2015-02-02  211.9499  203.3000  210.940   4149186   36.8215   37.5291
2015-02-03  220.3700  211.2700  218.360   4826244   37.7650   38.0371
2015-02-04  221.4790  216.8000  218.550   3305377   38.0462   38.2911
2015-02-05  225.4800  219.6380  220.990   3522947   38.3002   38.6812
2015-02-06  223.4000  216.5001  217.360   3243931   38.7175   38.8173
2015-02-09  217.9300  211.9900  217.480   3472423   38.3183   38.7719
2015-02-10  220.5000  215.0000  216.290   5390542   38.7719   38.7991
2015-02-11  214.7400  207.2800  212.800   9769102   38.6903   38.6903
2015-02-12  203.0882  193.2800  202.880  15649607   38.6994   39.0894
2015-02-13  205.9900  200.9100  203.770   6191003   39.3525   39.7970
...              ...       ...      ...       ...       ...       ...
2019-01-09  343.5025  331.4700  338.530   5432945  103.4183  104.4339
2019-01-10  345.3900  331.7900  344.970   6056354  102.7810  103.3088
2019-01-11  348.4100  338.7700  347.260   5039052  102.7511  103.0001
2019-01-14  342.5000  334.0000  334.400   5247284  101.4666  102.4341
2019-01-15  348.8000  334.5000  344.430   6056590  102.0740  104.6032
2019-01-16  352.0000  343.5000  346.050   4691739  104.8123  105.8031
2019-01-17  351.5000  344.1500  347.310   3676733  104.5534  106.1715
2019-01-18  327.1297  299.7301  302.260  24150763  107.0030  107.4411
2019-01-22  308.0000  295.5000  298.920  12066741  106.2960  106.6445
2019-01-23  294.5000  281.6900  287.590  12529993  105.6687  106.5848
2019-01-24  293.6800  279.2831  291.510   8012155  106.4055  106.5449
2019-01-25  298.5195  289.5500  297.040   7258078  106.7839  107.4212
2019-01-28  297.4600  287.7500  296.380   6423279  105.8081  106.0271
2019-01-29  298.5566  291.8000  297.460   4621692  104.4339  104.5236
2019-01-30  309.0000  298.4900  308.770  11250318  104.1751  105.9276
2019-01-31  311.5636  294.0000  307.020  12569245  103.3585  104.7725
2019-02-01  316.1000  303.5000  312.210   7283441  103.3336  103.6572
2019-02-04  315.3000  301.8800  312.890   7352082  102.4325  105.3500
2019-02-05  322.4400  312.2494  321.350   6742765  105.6089  106.8138
2019-02-06  324.2400  315.6240  317.220   5038546  106.5449  106.5449
2019-02-07  314.7000  303.0000  307.510   6520611  104.7376  105.1409
2019-02-08  307.4450  298.5000  305.800   5844212  103.9460  105.3301
2019-02-11  318.6000  310.5000  312.840   7129713  105.7483  106.1267
2019-02-12  318.1900  309.6200  311.810   5517570  105.6886  106.6843
2019-02-13  312.7500  305.5700  308.170   5141617  107.0428  107.3216
2019-02-14  306.7700  301.0000  303.770   5200832  105.8579  106.8337
2019-02-15  308.0000  303.9000  307.880   3904947  107.4511  107.8394
2019-02-19  311.5442  305.4700  305.640   4168443  107.3316  108.1979
2019-02-20  306.3000  299.0000  302.560   7142117  107.8600  107.9400
2019-02-21  303.2399  290.5000  291.230   8909182  106.9000  109.4800


                 low     close     volume
date
2015-01-02   42.2191   42.4187   27913852
2015-01-05   41.9560   42.0241   39673865
2015-01-06   41.3120   41.4118   36447854
2015-01-07   41.2666   41.9379   29114061
2015-01-08   42.3824   43.1716   29645202
2015-01-09   42.5457   42.8088   23944181
2015-01-12   42.0558   42.2736   23651887
2015-01-13   41.7837   42.0513   35270601
2015-01-14   41.3845   41.6884   29719580
2015-01-15   41.1940   41.2575   32750779
2015-01-16   40.9763   41.9470   35695289
2015-01-20   41.3392   42.0830   36161860
2015-01-21   41.2575   41.6567   39081143
2015-01-22   41.8018   42.7543   35898035
2015-01-23   42.4550   42.7997   26211594
2015-01-26   41.9469   42.6455   42525530
2015-01-27   38.1959   38.6994  169163953
2015-01-28   37.3386   37.3658   84507078
2015-01-29   37.0030   38.1097   63585273
2015-01-30   36.6038   36.6492   78004944
2015-02-02   36.4950   37.4475   50352532
2015-02-03   37.2343   37.7378   52082448
2015-02-04   37.5200   37.9555   41614812
2015-02-05   37.9691   38.5088   36548168
2015-02-06   38.2367   38.4726   34616554
2015-02-09   38.2911   38.4272   31381061
2015-02-10   38.2639   38.6449   29670676
2015-02-11   38.2911   38.4453   38262509
2015-02-12   38.5633   39.0894   33268831
2015-02-13   39.1439   39.7970   40264887
...              ...       ...        ...
2019-01-09  102.8054  103.8265   32280840
2019-01-10  101.9446  103.1594   30067556
2019-01-11  101.2077  102.3628   28314202
2019-01-14  100.8293  101.6160   28437079
2019-01-15  101.4467  104.5634   31587616
2019-01-16  104.5136  104.9318   29853865
2019-01-17  104.3145  105.6687   28393015
2019-01-18  105.4596  107.2519   37427587
2019-01-22  104.4140  105.2305   32371253
2019-01-23  104.8920  106.2562   25874294
2019-01-24  104.8920  105.7483   23164838
2019-01-25  106.1367  106.7142   31218193
2019-01-28  104.2149  104.6331   29476719
2019-01-29  101.7355  102.5022   31490547
2019-01-30  103.8863  105.9276   49471866
2019-01-31  102.7412  103.9859   55636391
2019-02-01  101.9147  102.3429   35535690
2019-02-04  102.3329  105.2903   31315282
2019-02-05  105.5094  106.7640   27325365
2019-02-06  105.0812  105.5791   20609759
2019-02-07  103.8465  104.8223   29760697
2019-02-08  103.8169  105.2206   21461093
2019-02-11  104.5186  104.8024   18914123
2019-02-12  105.0314  106.4354   25056595
2019-02-13  106.2562  106.3557   18394869
2019-02-14  105.2106  106.4454   21784703
2019-02-15  106.9058  107.7597   26606886
2019-02-19  107.3216  107.7100   18038460
2019-02-20  106.2900  107.1500   21607671
2019-02-21  106.8700  109.4100   29063231

[1041 rows x 15 columns]

This returns a dictionary of DataFrames indexed by each symbol specified.